#footer {
  display: flex;
  background-image: url("images/footerbg3.webp");
  background-size: cover;
}
.footer ul li {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  p {
    font-size: 14px;
  }
}
.footer-links {
  display: flex;
}
